.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.text {
  font-weight: 600;
}
.input {
  width: 320px;
  height: 32px;
  border: 2px solid black;
  margin-bottom: 24px;
  background-color: antiquewhite;
}
